@model IEnumerable<ItAcademy.ThunderSound.Client.Models.GenreViewModel>

<div class="container">
    <div class="row">
        @Html.Partial("Menu")
        <div class="col-lg-9">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create", "Create")
            }
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img id="main_image" src="@Url.Action("GetImage", new { id = item.GenreId })" />
                            <div class="card-body">
                                <h6>@Html.ActionLink(item.GenreName, "Genre", "Track", new { id = item.GenreId }, null)</h6>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.GenreId })
                                    @:&nbsp;
                                    @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>