@model IEnumerable<ItAcademy.ThunderSound.Client.Models.SingerViewModel>
    <div class="container">
        <div class="row">
            @Html.Partial("Menu")
            <div class="col-lg-9">
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Create", "Create")
                }
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img id="main_image" src="@Url.Action("GetImage", new { id = item.SingerId })" />
                                <div class="card-body">
                                    <h6>@Html.ActionLink(item.Name, "Singer", "Track", new { id = item.SingerId }, null)</h6>
                                    <h6>@Html.ActionLink(item.Genre.GenreName, "Genre", "Track", new { id = item.Genre.GenreId }, null)</h6>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SingerId })
                                        @:&nbsp;
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SingerId })
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


