@model IEnumerable<ItAcademy.ThunderSound.Client.Models.TrackViewModel>
    <div class="container">
        <div class="row">
            @Html.Partial("Menu")
            <div class="col-lg-9">
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Create", "Create")
                }

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img id="main_image" src="@Url.Action("GetImage", new { id = item.TrackId })" />
                                <div class="card-body">
                                    <h6>@Html.ActionLink(item.Singer.SingerName, "Singer", "Track", new { id = item.Singer.SingerId }, null)</h6>
                                    <p class="card-text">@item.TrackName</p>
                                    <h6>@Html.ActionLink(item.PlayList.PlayListName, "PlayList", "Track", new { id = item.PlayList.PlayListId }, null)</h6>
                                    <h6>@Html.ActionLink(item.Genre.GenreName, "Genre", "Track", new { id = item.Genre.GenreId }, null)</h6>
                                    <div class="card-body">
                                        <audio controls src="@Url.Action("Audio", new { id = item.TrackId})" ) />
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.TrackId })
                                        @:&nbsp;
                                        @Html.ActionLink("Delete", "Delete", new { id = item.TrackId })
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

